#version=2.0.0

[Unit]
Description=Jabil Pi Admin Api Host Executer
After=docker.service network-online.target
Conflicts=shutdown.target

[Service]
Type=simple
ExecStart=/root/jpiadmapi/host.sh